* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fffff;
    margin-top: 2em;
    font-family: 'Roboto', sans-serif;
}

.color-c {
    background-color: #aaaaaa;
}

.color-b {
    background-color: #fff;
}

.color-a {
    background-color: #f0f0f0;
}

.espaciador {
    clear: both;
    height: 1em;
}

#checkout {
    background-color: #EEE;
    max-width: 1140px;
    margin: 0 auto;
    overflow: auto;
}

#cabecera {
    max-width: 1140px;
    margin: 1em auto 0 auto;
    padding-bottom: 2em;
}

#nombre {
    font-size: 2em;
}

#articulos {
    background-color: azure;
}

hr {
    background: #aaa;
    border: 0;
    height: 2px;
}

.sub {
    font-size: 1em;
}

.pasos {
    padding-top: 1em
}

.pasos p {
    text-align: center;
}

.logo {
    text-align: center;
}

#cabecera-compras {
    margin-top: 2em;
    display: flex;
    font-size: .7em
}

#cabecera-compras .label-articulo {
    width: 70%;
    padding-left: 1em;
}

#cabecera-compras .label-precio {
    width: 20%;
    text-align: center;
}

#cabecera-compras .label-cantidad {
    width: 10%;
    text-align: center;
}

#una-compra {
    display: flex;
    height: 100%;
    border-bottom: 1px solid #dddddd;
}

#una-compra .imagen {
    width: 20%;
    padding-left: .5em;
    padding-top: .5em;
}

#una-compra .articulo {
    padding: .5em;
    width: 50%;
}

#una-compra .precio {
    width: 20%;
    padding-top: .5em;
    text-align: center;
    font-size: .8em;
}

#una-compra .cantidad {
    padding-top: .5em;
    width: 10%;
    text-align: center;
    font-size: .8em;
}

#total {
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
}

.clear {
    clear: both;
}

#detalles-entrega {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 2em;
    font-size: .8em;
    color: #bbb;
}

#detalles-entrega h4 {
    display: block;
    margin: 0 0 1em 0;
    padding: 0 0 .5em 0;
    border-bottom: 1px solid #aaa;
}

#detalles-entrega img {
    padding-right: 1em;
    filter: opacity(20%);
}

#seguir-comprando {
    display: flex;
    align-items: center;
    width: : 100%;
    height: 100px;
}

#seguir-comprando a {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background: #ddd;
    background-image: -webkit-linear-gradient(top, #ddd, #ccc);
    background-image: -moz-linear-gradient(top, #ddd, #ccc);
    background-image: -ms-linear-gradient(top, #ddd, #ccc);
    background-image: -o-linear-gradient(top, #ddd, #ccc);
    background-image: linear-gradient(to bottom, #ddd, #ccc);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #ccc, #ddd);
    background-image: -moz-linear-gradient(top, #3cb0fd, #ddd);
    background-image: -ms-linear-gradient(top, #ccc, #ddd);
    background-image: -o-linear-gradient(top, #ccc, #ddd);
    background-image: linear-gradient(to bottom, #ccc, #ddd);
    text-decoration: none;
}

#pago {
    background-color: #d8d8d8;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

#tarjeta .card-wrapper {
    margin-left: auto;
    margin-right: auto
}
#tarjeta fieldset {
    margin: 0px;
    padding: 0;
    border: none;
}

#tarjeta legend {
    padding-top: 1em;
    margin-bottom: 1em;
    font-size: .7em;
}

#tarjeta label {
    padding-top: 1em;
    display: block;
    font-size: .7em;
    margin-bottom: .5em;
}

#tarjeta input[type=text] {
    padding: .3em;
    height: 2em;
    border: 0;
    border-bottom: 3px solid #000;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    font-size: 1.2em;
    box-sizing: border-box;
    width: 100%;
}

#tarjeta .ccform-cols {
    width: 100%;
}

#tarjeta .ccform-cols .ccform-left {
    width: 50%;
    float: left;
}

#tarjeta .ccform-cols .ccform-right {
    width: 50%;
    float: left;
}

#tarjeta .ccform-cols input {
    text-align: right;
}

#tarjeta .ccform-cols .ccform-left .col-spacing-left {
    margin-right: .5em;
}

#tarjeta .ccform-cols .ccform-right .col-spacing-right {
    margin-left: .5em;
}

input[type=submit] {
    width: 100%;
    border: 0;
    background-color: #3cb0fd;
    color: white;
    text-decoration: none;
    margin-top: 2em;
    padding: 20px;
    cursor: pointer;
}
#tarjeta hr {
    margin-top: 1em;
}
#otros {
    margin-top: 1em;
    border-top: 5px solid #000;
}
#otros .sub {
    margin-top: 1em;
    margin-bottom: 1em;
}
#otros .pagos {
    width: 100%;
    display: flex;
}
#otros .pagos div {
    width: 50%;
}
#otros .pagos img {
    width: 90%;
    margin: .5em;
}
#otros p {
    font-size: .8em;
    text-align: center;
    margin-bottom: 3em;
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .jp-card-container {width: 300px !important;}
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    .logo {
        text-align: left;
    }
    .pasos p {
        text-align: right;
    }
}
